recursive-include doc_src *
recursive-include docs *

recursive-include mediacracy/static *
recursive-include mediacracy/templates *

include LICENSE
include README
include *.txt

prune example/